node_modules
**/node_modules
dist
.git
.env
.env.*
*.md
*.log
*.tsbuildinfo
coverage
test
ffmpeg
uploads
data
tmp
*.mp4
*.mov
*.mkv
*.avi
*.webm
*.m4v
*.wmv
*.flv
*.wav
*.mp3
*.flac
*.aac
*.exe

!scripts/**
!*.py
!public/**
!templates/**
!storage/**
